*{
    padding: 10px 10px 10px 10px;
    margin: 15px 15px 15px 15px;
}
form{
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    padding: auto;
}
input{
    width: 80%;
}
button{
    width: 50%;
    align-items: center;
}
p{
    margin: 20px auto;
    background: rgba(12, 78, 100, 0.2);
    width: 300px;
    height: 300px;
    padding: auto;
    columns: black;
}

h3{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}